/* src/components/BoosterPage.css */

.booster-page {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    background-image: url('https://images6.alphacoders.com/131/1315876.jpg');
    background-size: cover;
    background-position: center;
}

.booster-card-container-wrapper {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
}

.booster-card-container {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5vw;
    margin: 20px auto;
}

.booster-card-item {
    margin: 0;
    padding: 0.5vw;
    border: 1px solid #ddd;
    border-radius: 1vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.booster-card-item:hover {
    background-color: #dcdcdc;
    transform: translateY(-5px);
}

.booster-card-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.booster-card-title {
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}

.booster-card-item a {
    text-decoration: none;
    color: inherit;
}
